<div class="admin_section">
    <h6 class="admin_name">
        WELCOME
        <span>
            @ViewData["FullName"]
        </span>
    </h6>
    <ul class="admin_menu">
        @*<li> <a href="~/Home" title="Home" hidden="hidden" class="current">HOME</a></li>*@
        <li> <a href="~/AdminLogin/Login" title="Admin Login">ADMIN</a></li>
        <li> <a href="~/StaffLogin/Login" title="Staff Login">STAFF</a></li>
    </ul>
</div>