
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="banner_section">
    <img src="~/Images/banner_img1.jpg" alt="" />
    <div class="page_direction">
       Error
    </div>
</div>


<div class="content_wrapper fancy_fields">
    <div style="height:300px">
        <h2>Please contact your Administrator </h2>
        <p>Please logout and login again</p>
    </div>
</div>

