@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section leftMenu
{ 
<div>
    @Html.Partial("AdminMenu")
</div>
    }

<div class="banner_section">
    <img src="~/Images/banner_img1.jpg" alt="" />
    <div class="page_direction">
        Home

    </div>
</div>